<div id="page-title-section">
  <h2 class="text-light">تماس باما</h2>
</div>
<div class="bg-2" id="news-section">
  <section id="news">
    <div class="container">
      <div class="row">

        <div class="col-sm-4 offset-sm-2 py-5">
          <ul class="list-group">
            <li class="list-group-item">
              <a href="tel:+98913456789">
                <i class="fa fa-phone fs-2 txt-primary mx-3"></i> +989123456789
              </a>
            </li>
            <li class="list-group-item">
              <a href="mailto:info@vote.com">
                <i class="fa fa-envelope fs-2 txt-primary mx-3"></i> info@vote.com
              </a>
            </li>
            <li class="list-group-item">
              <a>
                <i class="fa fa-map fs-2 txt-primary mx-3"></i> ایران، تهران
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4 py-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d207292.1158503065!2d51.19425761425273!3d35.72771107710049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e00491ff3dcd9%3A0xf0b3697c567024bc!2sTehran%2C%20Tehran%20Province!5e0!3m2!1sen!2s!4v1620410078911!5m2!1sen!2s" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
      <div class="row">

        <div class="col-sm-6 offset-sm-3 py-5">
          <h4 class="my-3 text-center">پیام خود را به ما ارسال کنید</h4>
          <div class="mb-3">
            <label class="form-label" for="name">نام و نام خانوادگی</label>
            <input class="form-control" id="name" type="text">
          </div>
          <div class="mb-3">
            <label class="form-label" for="phone">شماره تلفن</label>
            <input class="form-control" id="phone" placeholder="0913456789" type="text">
          </div>
          <div class="mb-3">
            <label class="form-label" for="email">آدرس ایمیل</label>
            <input class="form-control" id="email" placeholder="name@example.com" type="email">
          </div>
          <div class="mb-3">
            <label class="form-label" for="exampleFormControlTextarea1">پیام</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <button class="btn btn-primary w-100">ارسال پیام</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
