<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 text-start mb-lg-0 p-0 px-lg-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">خانه</a>
        </li>
        <li class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="navbarDropdown"
             role="button">
            ریاست جمهوری
          </a>
          <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/president">کاندید ها</a></li>
            <li><a class="dropdown-item" routerLink="/news">اخبار</a></li>
            <!--            <li><hr class="dropdown-divider"></li>-->
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="navbarDropdown2"
             role="button">
            شورای شهر
          </a>
          <ul aria-labelledby="navbarDropdown2" class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/city-council">استان ها</a></li>
            <li><a class="dropdown-item" routerLink="/news">اخبار</a></li>
            <!--            <li><hr class="dropdown-divider"></li>-->
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us">درباره ما</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">تماس باما</a>
        </li>
        <li class="nav-item" id="header-special-link">
          <a class="btn btn-danger" disabled="true">نظرسنجی</a>
        </li>
      </ul>
      <form class="d-flex align-items-center me-auto">
        <input class="form-control text-start me-2" type="search" placeholder="جستجو" aria-label="Search">
        <button class="btn" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <a class="navbar-brand txt-primary fw-bolder" routerLink="/">
      <img style="height: 28px" alt="iran-election" src="assets/images/allah.png"/></a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
