<div class="sra-section p-3 text-right">
  <div class="row">
    <div class="col-md-6">
      <h4>لیست کاربران</h4>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <input  type="text" class="form-control" [(ngModel)]="searchQuary" >
      </div>
    </div>
    <div class="col-12"><hr></div>
  </div>
  <div class=" table-responsive">
  <table class="table table-striped table-dark table-hover sra-table text-right">
    <thead>
      <tr>
        <th scope="col">ردیف</th>
        <th scope="col">نام</th>
        <th scope="col">نام خانوادگی</th>
        <th scope="col">ایمیل</th>
        <th scope="col">تلفن</th>
        <th scope="col">سن</th>
        <th scope="col">جنسیت</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | filter:searchQuary:'name'; let i = index">
        <th>{{i+1}}</th>
        <td>{{ user.name }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.gender | gender }}</td>
        <th>
          <button class="btn btn-danger me-2" (click)="onDeleteUser(user.id)">حذف</button>
          <button class="btn btn-warning" (click)="onEditUser(user.id)">ویرایش</button>
        </th>
      </tr>
    </tbody>
  </table>
</div>
</div>
