<div class="row text-right">
<!--  <div class="col-md-6 col-lg-3 mt-4">-->
<!--    <div class="sra-section p-3">-->
<!--      <div class="row">-->
<!--        <div class="col-9">-->
<!--          <h4 class="font-weight-bold">کالری مصرفی</h4>-->
<!--        </div>-->
<!--        <div class="col-3"><span class="fa fa-glass"></span></div>-->
<!--        <div class="col-12 text-center mt-3"><span class=" txt-red "><h1 class="d-inline txt-red">1450</h1>cal / <h2 class="d-inline txt-red">2000</h2>cal</span></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-md-6 col-lg-3 mt-4">-->
<!--    <div class="sra-section-primary  p-3">-->
<!--      <div class="row">-->
<!--        <div class="col-9">-->
<!--          <h4 class="font-weight-bold  txt-3">وزن</h4>-->
<!--        </div>-->
<!--        <div class="col-3"><span class="fa fa-user"></span></div>-->
<!--        <div class="col-12 text-center mt-3"><span class="font-weight-bold txt-3"><h1 class="d-inline txt-3 font-weight-bold">62</h1>kg / <h2 class="font-weight-bold d-inline txt-3">70</h2>kg</span></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-md-6 col-lg-3 mt-4">-->
<!--    <div class="sra-section  p-3">-->
<!--      <div class="row">-->
<!--        <div class="col-9">-->
<!--          <h4 class="font-weight-bold">هدف</h4>-->
<!--        </div>-->
<!--        <div class="col-3"><span class="fa fa-search"></span></div>-->
<!--        <div class="col-12 text-center mt-3"><h1 class="d-inline txt-green">افزایش وزن</h1></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-md-6 col-lg-3 mt-4">-->
<!--    <div class="sra-section  p-3">-->
<!--      <div class="row">-->
<!--        <div class="col-9">-->
<!--          <h4 class="font-weight-bold">میزان فعالیت</h4>-->
<!--        </div>-->
<!--        <div class="col-3"><span class="fa fa-heart"></span></div>-->
<!--        <div class="col-12 text-center mt-3"><span class=" txt-p "><h1 class="d-inline txt-p">450</h1>kJ / <h2 class="d-inline txt-p">600</h2>kJ</span></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="col-md-4 mt-4">
    <div class="sra-section  p-3">
      <div class="row">
        <div class="col-12">
          <h4 class="font-weight-bold">آخرین رویداد ها</h4>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 mt-4">
    <div class="sra-section  p-3">
      <div class="row">
        <div class="col-12">
          <h4 class="font-weight-bold">نمودار</h4>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
