<div class="row py-3">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="sra-section p-3">
      <h3 class="text-center">افزودن کابر جدید</h3>
      <hr>
      <img src="../../../assets/boss-1.png" class="mx-auto d-block profile-img" >
      <form class="text-right pt-3" [formGroup]="userForm" (ngSubmit)="onAddUser()">
        <div class="row">
          <div class="col-sm">
            <div class="mb-3">
              <label for="email">آدرس ایمیل
                <small class="text-danger text-small" *ngIf="!userForm.get('email').valid && userForm.get('email').touched">آدرس ایمیل الزامی است</small>
              </label>
              <input type="email" class="form-control" formControlName="email" placeholder="name@gmail.com">
            </div>
          </div>
          <div class="col-sm">
            <div class="mb-3">
              <label for="phone">شماره تلفن</label>
              <input type="number" class="form-control" formControlName="phone" placeholder="09123456789">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="mb-3">
              <label for="name">نام</label>
              <input type="text" class="form-control" formControlName="name" placeholder="نام">
            </div>
          </div>
          <div class="col-sm">
            <div class="mb-3">
              <label for="lastName">نام خانوادگی</label>
              <input type="text" class="form-control" formControlName="lastName" placeholder="نام خانوادگی">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="mb-3">
              <label for="age">سن</label>
              <input type="number" class="form-control" id="age" formControlName="age">
            </div>
          </div>
          <div class="col-sm">
            <div class="mb-3">
              <label for="gender">جنسیت</label>
              <select class="form-control" id="gender" formControlName="gender">
                <option [value]="genders[0]">{{genders[0] | gender}}</option>
                <option [value]="genders[1]">{{genders[1] | gender}}</option>
              </select>
            </div>
          </div>
        </div>
          <button class="btn sra-btn-success" type="submit" [disabled]="userForm.invalid">افزودن</button>
      </form>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>
