<div class="bg-2  txt-2 app-sidebar" [ngClass]='{"sidebar-closed": sidebarClosed}'>
  <div class="profile-sec text-center py-3">
    <img src="/assets/images/profile.jpg" class="mx-auto d-block profile-img" >
    <h5 class="mt-3 font-weight-bold txt-o"  *ngIf="!sidebarClosed">
      {{ userService.userData.first_name ? userService.userData.first_name+' '+userService.userData.last_name  : userService.userData.username }}</h5>
    <a routerLink="/" class="txt-red text-small" (click)="userService.logout()"><small>خروج</small></a>
  </div>
  <ul class="nav flex-column text-right py-2 px-0 main-menu">
    <li class="main-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
      true}" *ngFor="let item of menuItems">
      <a class="nav-link" [routerLink]="[item.link]">
        <span style="width: 24px; height: 24px;"><i [class]="'fa '+item.icon"></i></span>
        <span class="ms-sm-2" *ngIf="!sidebarClosed">{{ item.title }}</span>
        <span class="collapsed" *ngIf="!sidebarClosed"><i class="fa fa-angle-left"></i></span>
      </a>
      <ul class="nav flex-column text-right py-2 px-0 submenu" *ngIf="item.submenu">
        <li class="sub-item" routerLinkActive="active" *ngFor="let subItem of item.submenu">
          <a class="nav-link" [routerLink]="[subItem.link]">
            <span class="ms-sm-2" *ngIf="!sidebarClosed">{{ subItem.title }}</span>
            <span class="collapsed" *ngIf="!sidebarClosed"><i class="fa fa-angle-left"></i></span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
